<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <form th:action="@{/add-news}" th:object="${news}" method="post" class="add-form">
        <div class="main">
            <div class="field">
                <label for="title">Title</label>
                <textarea id="title" th:field="*{title}" rows="5" cols="45" class="textarea"></textarea>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message">${errors.title}</p> <br/>
            </div>
            <div class="field">
                <label for="brief">Brief</label>
                <textarea id="brief" th:field="*{brief}" rows="10" cols="45" class="textarea"></textarea>
                <p th:if="${#fields.hasErrors('brief')}" th:errors="*{brief}" class="error-message">${errors.brief}</p> <br/>
            </div>
            <div class="field">
                <label for="content">Content</label>
                <textarea id="content" th:field="*{content}" rows="10" cols="45" class="textarea"></textarea>
                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error-message">${errors.content}</p> <br/>
            </div>
            <input type="submit" value="Add News" class="button">
        </div>
    </form>
</body>
</html>