<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
    <title>News Portal</title>
</head>
<body>
    <div class="page">
        <div class="header" th:insert="~{/header.html :: body}">
        </div>
        <div class="base-layout-wrapper">
            <div th:insert="~{/menu.html :: body}" class="menu">
            </div>
            <div class="content" th:insert="~{/content.html :: body}">
            </div>
        </div>
        <div class="footer">
            <center>©2022 Petrov&Co, Inc. All rights reserved.</center>
        </div>
    </div>
</body>
</html>