<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div sec:authorize="!isAuthenticated()">
        <div th:switch="${registration}">
            <div th:case="'true'" th:insert="~{/registration.html :: body}">
            </div>
            <div th:case="'done'">
                Congratulations! Registration completed successfully!
            </div>
            <div th:case="*" th:insert="~{/guestContent.html :: body}">
            </div>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()" th:insert="~{/mainContent.html :: body}">

    </div>
</body>
</html>