<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="wrapper">
    <div class="newstitle">
        <a th:href="@{/}">News Portal</a>
    </div>
    <div sec:authorize="!isAuthenticated()" class="local-link" align="right">
        <form th:action="@{/loginAction}" method="post">
            <input type="text" id="username" name="username" autofocus="autofocus" placeholder="Login"/> <br/>
            <input type="password" id="password" name="password" placeholder="Password"/> <br/>
            <a th:href="@{/guest/registration}">registration</a>
            <input type="submit" value="Log in" class="button"/>
            <p th:text="${loginFail}" class="loginFailMessage"/>
        </form>
    </div>

    <div sec:authorize="isAuthenticated()" class="local-link" align="right">
        <form th:action="@{/logout}" method="post" id="form-logout">
            <input value="Logout" type="submit" class="button">
        </form>
    </div>
</div>
</body>
</html>