<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:switch="${content}">
        <div th:case="'addNews'" th:insert="~{/addNews.html :: body}">
        </div>
        <div th:case="'addNewsDone'">
            News has been added
        </div>
        <div th:case="'usersMenu'" th:insert="~{/usersMenu.html :: body}"></div>
        <div th:case="'editNews'" th:insert="~{/editNews.html :: body}"></div>
        <div th:case="'singleNews'" th:insert="~{/viewNews.html :: body}"></div>
        <div th:case="newsList" th:insert="~{/newsList.html :: body}"></div>
        <div th:case="null" th:insert="~{/newsList.html :: body}">
        </div>
    </div>
</body>
</html>