<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="body-title">
     News List
    </div>
    <div th:each="news: ${newsList}">
        <div class="single-news-wrapper">
            <div class="news-container">
                <p th:text="${news.date}" class="news-date"/>
                <div class="single-news-header-wrapper">
                    <div class="news-wrapper">
                        <p th:text="${news.title}" class="news-title"/>
                        <p th:text="${news.brief}" class="news-content"/>
                    </div>
                </div>
            </div>
            <div class="news-link-to-wrapper">
                <div class="link-position">
                    <div class="link-container">
                        <a th:href="@{'/view' + ${news.id}}">view</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>